:root {
  --tema: #141c3a;
}

body {
    animation: gradient 20s infinite;
    background: #054f77;
    color: var(--tema);
  }
  
  @keyframes gradient {
    0% {
        background: #054f77;
    }
    33%{
        background: #4169e1;
    }
      66% {
        background: #000fff;
      }
      100% {
          background: #054f77;
      }
  }
#heroku .work, #github .work {
  transition: transform .5s;
}

#heroku .work:hover, #github .work:hover {
  transform: translateY(-10px);
}