body {
    animation: gradient 20s infinite;
    background: #054f77;
    color: #141c3a;
  }
  
  @keyframes gradient {
    0% {
        background: #054f77;
    }
    33%{
        background: #4169e1;
    }
      66% {
        background: #000fff;
      }
      100% {
          background: #054f77;
      }
  }