body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  animation: gradient 10s infinite;
  background: rgb(2,0,36);
  color: #141c3a;
}

@keyframes gradient {
  0% {
      background: #020024;
  }
  33%{
      background: #014e75;
  }
    66% {
background: #0181aa;
    }
    100% {
        background: #020024;
    }
}